<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WPLAYER</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../assets/styles/style.min.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../assets/fonts/themify-icons/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../assets/plugin/waves/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../assets/plugin/sweet-alert/sweetalert.css">

</head>

<body>
    <%- include('../include/gamer/sidebar') -%>

    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button"
                class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title">Seus Jogos</h1>
            <!-- /.page-title -->
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
            <a href="../../../logout" class="ico-item fa fa-sign-out"></a>
        </div>
    </div>
    <!-- /.fixed-navbar -->
    <div id="wrapper">
        <div class="main-content">
            <div class="row small-spacing">
                <%for(list of information.gameList) {%>
                <a href="/gamer/game/detail/<%= list.GAME_ID%>">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="box-content">
                            <div class="statistics-box with-icon">

                                <img src="<%= list.GAME_IMG%>" alt="<%= list.GAME_NAME%>" class="ico box avatar" style="width: 150px; height: 70px;">
                                <p class="text"><%= list.GAME_NAME%></p>

                                <h2 class="counter"><%= list.TOTAL_HOURS%> h</h2>
                            </div>
                        </div>

                        <!-- /.box-content -->
                    </div>
                </a>
                <%}%>
		</div>
		<!-- .row -->
	</div>
	<!-- /.main-content -->

</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../assets/scripts/jquery.min.js"></script>
	<script src="../../assets/scripts/modernizr.min.js"></script>
	<script src="../../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../../assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="../../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../../assets/scripts/chart.sparkline.init.min.js"></script>

	<script src="../../assets/scripts/main.min.js"></script>
</body>
</html>