<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>WPLAYER</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../../../assets/styles/style.min.css">
	
	<!-- Themify Icon -->
	<link rel="stylesheet" href="../../../assets/fonts/themify-icons/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../../../assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../../../assets/plugin/sweet-alert/sweetalert.css">
	
</head>

<body>
<%- include('../include/gamer/sidebar') -%>

<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Perfil de <%= information.profileGamer.GAMER_NICKNAME%></h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a href="../../../logout" class="ico-item fa fa-sign-out"></a>
	</div>
</div>
<!-- /.fixed-navbar -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-md-3 col-xs-12">
				<div class="box-content bordered primary margin-bottom-20">
					<div class="profile-avatar text-center">
						<img src="<%= information.profileGamer.AVATAR%>" alt="">
						<h3><strong><%= information.profileGamer.GAMER_NICKNAME%></strong></h3>
						<h4><%= information.profileGamer.GAMER_API_NAME%></h4>
					</div>
					<!-- .profile-avatar -->
					<table class="table table-hover no-margin">
						<tbody>
							<tr>
								<td>Status</td>
								<td><span class="notice notice-danger"><%= information.profileGamer.ACCOUNT_STATUS%></span></td>
							</tr>
							<tr>
								<td>Level</td>
								<td><%= information.profileGamer.CURRENT_LEVEL%></td>
							</tr>
							<tr>
								<td>Membro desde</td>
								<td><%= information.profileGamer.CREATION_DATE%></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-content bordered -->
			</div>
			<div class="col-md-9 col-xs-12">
				<div class="row small-spacing">
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-user text-inverse"></i>
								<h2 class="counter text-inverse"><%= information.profileGamer.GAMER_NAME%></h2>
								<p class="text">Nome</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-steam text-inverse"></i>
								<h2 class="counter text-inverse"><%= information.profileGamer.GAMER_NICKNAME%></h2>
								<p class="text">Nickname</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-envelope text-inverse"></i>
								<h2 class="counter text-inverse h4"><%= information.profileGamer.CUSTOMER_EMAIL%></h2>
								<p class="text">Email</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-key text-inverse"></i>
								<h2 class="counter text-inverse h4"><%= information.profileGamer.MACHINE_KEY%></h2>
								<p class="text">Código da máquina</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-globe text-inverse"></i>
								<h2 class="counter text-inverse"><%= information.profileGamer.PROFILE_STATE%></h2>
								<p class="text">Estado do perfil</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-money text-inverse"></i>
								<h2 class="counter text-inverse">R$ <%= information.profileGamer.ACCOUNT_VALUE%></h2>
								<p class="text">Valor atual da conta</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-clock-o text-inverse"></i>
								<h2 class="counter text-inverse"><%= information.profileGamer.TOTAL_HOURS%> H</h2>
								<p class="text">Total de horas</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
					<div class="col-md-6 col-md-6 col-xs-12">
						<div class="box-content">
							<div class="statistics-box with-icon">
								<i class="ico fa fa-gamepad text-inverse"></i>
								<h2 class="counter text-inverse"><%= information.profileGamer.AMOUNT_GAMES%> H</h2>
								<p class="text">Quantidade de jogos</p>
							</div>
						</div>
						<!-- /.box-content -->
					</div>
				</div>
			</div>
			<!-- .row -->
			<!-- /.col-md-3 col-xs-12 -->
		</div>
	</div>
	<!-- /.main-content -->

</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../../assets/scripts/jquery.min.js"></script>
	<script src="../../../assets/scripts/modernizr.min.js"></script>
	<script src="../../../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../../../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../../../assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="../../../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../../../assets/scripts/chart.sparkline.init.min.js"></script>

	<script src="../../../assets/scripts/main.min.js"></script>
</body>
</html>