<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>WPLAYER - STARTER PAGE</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../../assets/styles/style.min.css">
	
	<!-- Themify Icon -->
	<link rel="stylesheet" href="../../assets/fonts/themify-icons/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../../assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../../assets/plugin/sweet-alert/sweetalert.css">

	<!-- Data Tables -->
	<link rel="stylesheet" href="../../assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
	
</head>

<body>
<%- include('../include/corp/sidebar') -%>

<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Todas as máquinas</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
</div>
<!-- /.fixed-navbar -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Histórico</h4>
					<table id="example" class="table table-striped table-bordered display" style="width:100%">
						<thead>
							<tr>
								<th>Código da máquina</th>
								<th>Nome da máquina</th>
								<th>CPU</th>
								<th>RAM</th>
								<th>DISCO</th>
								<th>GPU</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Código da máquina</th>
								<th>Nome da máquina</th>
								<th>CPU</th>
								<th>RAM</th>
								<th>DISCO</th>
								<th>GPU</th>
							</tr>
						</tfoot>
						<tbody>
                            <% for(state of information){ %>
                                <tr>
                                    <td><%= state.MACHINE_KEY%></td>
                                    <td><%= state.MACHINE_NAME%></td>
                                    <td><%= state.PERCENT_CPU%></td>
									<td><%= state.PERCENT_RAM%></td>
									<td><%= state.PERCENT_DISC%></td>
									<td><%= state.PERCENT_GPU%></td>
                                </tr>
                            <% } %>
							</tbody>
					</table>
				</div>
				<!-- /.box-content -->
			</div>
		</div>
	</div>
	<!-- /.main-content -->

</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../assets/scripts/jquery.min.js"></script>
	<script src="../../assets/scripts/modernizr.min.js"></script>
	<script src="../../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../../assets/plugin/waves/waves.min.js"></script>

	<!-- Sparkline Chart -->
	<script src="../../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../../assets/scripts/chart.sparkline.init.min.js"></script>

	<!-- Data Tables -->
	<script src="../../assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="../../assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="../../assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
	<script src="../../assets/scripts/datatables.demo.min.js"></script>

	<script src="../../assets/scripts/main.min.js"></script>
</body>
</html>